.form {
    max-width: 426px;
    padding: 30px;
    background: #5454D4;
    border-radius: 16px;   
    margin: 0 auto; 

    &__box {
        display: flex;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: 29px;
        line-height: 1.209;
        color: #FFFFFF;
        margin-bottom: 35px;
        font-family: 'Lato', sans-serif;

    }

     &-control {
        outline: none !important;
        border: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 500;

        &::placeholder {
            font-family: 'Lato', sans-serif;
        }

        &:focus {
             border: 0;
             outline: none !important;
        }
    }

    @media (max-width:550px) {
        padding: 20px;
    }
}